<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo1examen-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>[[prop1]]!!!</h1>
	
	<h2>[[prop2]]</h2>
	
	<template is="dom-repeat" items="{{itemArray}}">
		<button id="boton_[[item.id]]" on-click="botonClick" >[[item.boton]]</button>
	</template>
	
  </template>

  <script>
    /**
     * `hijo1examen-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Hijo1examenElement extends Polymer.Element {
      static get is() { return 'hijo1examen-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'EXAMEN'
          },
		   prop2: {
            type: String,
            value: 'Haber que pasa =('
          },
		  itemArray:{
			type: Array,
			value(){
				return[
					{id:"1", boton:"Lista"},
					{id:"2", boton:"Tabla"}
				]
			}
		  }
        };
      }
	  botonClick(e) {
       	console.log(e.model.__data.item);
		this.dispatchEvent(new CustomEvent('click-boton',{detail:e.model.__data.item.id}));
	  }
    }

    window.customElements.define(Hijo1examenElement.is, Hijo1examenElement);
  </script>
</dom-module>
